{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Closets</h1>
		</div>
	</div>
	
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newCloset')}}">
				<button class="btn btn-default" id="new-closet">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Closet
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for closet in closets %}
		<a href = "{{url_for('showItems', closet_id = closet.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 closet-list">
						<h3>{{closet.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
		<h4> 			
			<a href="{{url_for('editCloset', closet_id = closet.id)}}">
				<button class="btn btn-default" id="new-closet">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit Name
				</button>
			</a>
			<a href="{{url_for('deleteCloset', closet_id = closet.id)}}">
				<button class="btn btn-default" id="new-closet">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete Closet
				</button>
			</a>
		</h4>  
	{% endfor %}
{% endblock %}
