{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
		<a href="{{url_for('newItem', closet_id = closet_id)}}">
			<button class="btn btn-default" id="new-item">
				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>New Item
			</button>
		</a>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{% for i in items %}
				<div>
					<h3>{{i.name}}</h3>
					<p>{{i.description}}</p>
					<img src= "../../../static/img/item/{{i.id}}.jpg" 
					width="200px" height="250px">
					<a href="{{url_for('editItem', closet_id = i.closet_id, item_id = i.id)}}">
						<button class="btn btn-default" id="new-closet">
							<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit Name
						</button>
					</a>
					<a href="{{url_for('deleteItem', closet_id = i.closet_id, item_id = i.id)}}">
							<button class="btn btn-default" id="new-closet">
							<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete Item
						</button>
					</a>
				</div>
				{% endfor %}
			</h1>

		</div>
	</div>

{% endblock %}
