{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Closet Item</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post" enctype="multipart/form-data">
				<div class="form-group">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the category">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the category"></textarea>

					<label for="value">Value:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="value" placeholder="Price in $">
					</div>

					<div>
					<label for="file">Image</label>
					<div class="input-group">
						<input type ="file" name="file" accept = "image/*">

					</div>


					<!-- <label for="price">Upload Date:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="date" class="form-control" maxlength="10" name="upload_date" placeholder="Date">
					</div>
					<label for="price">Date Purchased:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="date" class="form-control" maxlength="10" name="date_purchased" placeholder="Date"> -->
<!-- 					</div> -->
					<p></p>
					<div>
					<label for="category">Category:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category1" value="Clothing">Clothing
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category2" value="Entree">Electronics
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category3" value="Dessert">Office + Living
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category4" value="Beverage">Kitchen + Dining
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category5" value="Dessert">Bedroom
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category6" value="Beverage">Bathroom
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="category" id="category6" value="Beverage">Hobbies
					  </label>
					</div>

					<div>
					<label for="category">Receipt</label>
					</div>


					<div>
					<label for="receipt_image">Receipt Image</label>
					<div class="input-group">
						<input type ="file" name="receipt_image" accept = "image/*">

					</div>

<!-- 					<div>
					<input type="radio" name="type" value="#" 
					onclick="document.getElementById('text').removeAttribute('disabled')">Receipt?
					<input type="file" id="file" name="custom" accept="image/*">
					</div>
					<input type="radio" name="type" value="receipt_image" 
					onclick="document.getElementById('sel').removeAttribute('disabled')">No Receipt
					</div> -->
					<button>
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

